<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/83fff94f-ea6d-44c3-a294-e78a99bee2f9/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.ContainerRegistry/registries/jeanvalvezamacr</ResourceId>
    <ResourceName>jeanvalvezamacr</ResourceName>
    <ResourceGroup>DefaultResourceGroup-CQ</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://jeanvalvezamacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e2db22d8-fade-4d52-9963-d32c28b8eafd</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>